body {
  background: #fff;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.wrapper{
  width: 1170px;
  margin: 0 auto;
}
figure {
  width: 32%;
  float: left;
  margin: 0;
}
figcaption {
  text-align: center;
}
figcaption h2 {
  text-transform: uppercase;
  margin: 15px 0;
  font-family: "Poppins ExtraBold";
}
figcaption p {
  width: 90%;
  margin: auto;
  font-size: 18px;
  font-family: roboto;
  letter-spacing: 2px;
}
.hover-animation {
  position: relative;
  height: 350px;
  width: 350px;
  margin: 10% auto 0;
}

.hover-animation img {
  position: absolute;
  left: 0;
  width: 350px;
  height: 350px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.hover-animation img.img-front:hover{
  opacity:0;
  cursor: pointer;
}
